.header {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-top: 1.25rem;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.badgeContainer {
  position: absolute;
  top: -1.25rem;
}

.loginArea {
  display: flex;
  align-items: center;
  font-size: var(--text-size);
  color: white;
  font-weight: 500;
  margin-left: auto;
}

.loginArea a:first-of-type {
  padding: var(--md-text-size) 2rem;
  background: var(--primary-color);
  border-radius: var(--rounded-radius);
}

.loginArea a + a {
  display: none;
}

@media only screen and (min-width: 360px) {
  .header {
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 900px) {
  .loginArea {
    margin: 0 1rem 0 auto;
  }

  .loginArea a:first-of-type {
    transition: var(--colors-transition);
  }

  .loginArea a:first-of-type:hover {
    background: var(--dark-primary-color);
  }

  .loginArea a + a {
    display: block;
    margin-left: 3rem;
  }
}
